.theme-light {
          --theme-brand-primary-solid: #F23C50;
  --theme-brand-primary-gradient: linear-gradient(45deg, #F84739 0%, #E82B74 100%);
  --theme-brand-secondary-solid: #635298;
  --theme-brand-secondary-gradient: linear-gradient(45deg, #525298 0%, #755298 100%);
  --theme-brand-extended-one: #29304E;
  --theme-fg-default: #313038;
  --theme-fg-on-accent: #ffffff;
  --theme-fg-muted: #4D4C59;
  --theme-fg-subtle: #716F80;
  --theme-bg-surface: #ffffff;
  --theme-bg-subtle: #F7F6F9;
  --theme-bg-muted: #E8E7EE;
  --theme-bg-canvas: #F7F6F9;
  --theme-accent-disabled: #E8E7EE;
  --theme-accent-default: #7764DF;
  --theme-accent-subtle: #DCD7FC;
  --theme-accent-muted: #9888F8;
  --theme-accent-emphasis: #3C3270;
  --theme-cta-default: linear-gradient(45deg, #F84739 0%, #E82B74 100%);
  --theme-cta-emphasis: #E82B74;
  --theme-warning-defautl: #FFBB38;
  --theme-warning-fg: #DDA230;
  --theme-warning-muted: #FFCE88;
  --theme-warning-subtle: #FFE0B9;
  --theme-warning-on-warning: #242429;
  --theme-info-default: #1473E6;
  --theme-info-fg: #1164C7;
  --theme-info-muted: #81A2EC;
  --theme-info-subtle: #B5C6F3;
  --theme-info-on-info: #ffffff;
  --theme-error-default: #D7373F;
  --theme-error-fg: #BA3037;
  --theme-error-muted: #E2888B;
  --theme-error-subtle: #ECB8BA;
  --theme-error-on-error: #ffffff;
  --theme-success-default: #248666;
  --theme-success-fg: #1B644C;
  --theme-success-muted: #67A38B;
  --theme-success-subtle: #9FC0B2;
  --theme-success-on-success: #ffffff;
  --theme-input-bg-default: #ffffff;
  --theme-input-border-default: #E8E7EE;
  --theme-input-border-disabled: #F7F6F9;
  --theme-input-border-focus: #7764DF;
  --theme-input-fg-default: #313038;
  --theme-input-fg-label: #4D4C59;
  --theme-input-fg-placeholder: #8B8A99;
  --theme-input-fg-disabled: #8B8A99;
  --theme-input-fg-on-accent: #ffffff;
  --theme-input-accent-default: #7764DF;
  --theme-input-accent-subtle: #DCD7FC;
  --theme-input-accent-muted: #9888F8;
  --theme-input-accent-emphasis: #3C3270;
  --theme-input-accent-disabled: #E8E7EE;
  --theme-border-default: #E8E7EE;
  --theme-shadow-default: #000000;
  --theme-overlay-bg: #000000;
  --theme-overlay-fg: #ffffff;
  --theme-solid-fg: #ffffff;
  --theme-solid-blue: #1473E6;
  --theme-solid-red: #D7373F;
  --theme-solid-yellow: #FFBB38;
  --theme-solid-green: #248666;
  --theme-solid-purple: #7764DF;
  --size-25: .25rem;
  --size-50: .50rem;
  --size-75: .75rem;
  --size-100: 1rem;
  --size-150: 1.5rem;
  --size-200: 2rem;
  --size-250: 2.5rem;
  --size-300: 3rem;
  --size-350: 3.5rem;
  --size-400: 4rem;
  --size-450: 4.5rem;
  --size-500: 5rem;
  --size-550: 5.5rem;
  --size-600: 6rem;
  --elevate-20: 0 .25rem .25rem 0 #0000001a, 0 0 .25rem 0 #0000000d, 1000rem 1000rem 0 0 #ffffff05;
  --elevate-40: 0 .25rem .50rem 0 #0000001a, 0 0 .25rem 0 #0000000d, 1000rem 1000rem 0 0 #ffffff08;
  --elevate-60: 0 .50rem .75rem 0 #0000001a, 0 0 .25rem 0 #0000000d, 1000rem 1000rem 0 0 #ffffff0a;
  --elevate-80: 0 .75rem 1rem 0 #0000001a, 0 0 .25rem 0 #0000000d, 1000rem 1000rem 0 0 #ffffff0d;
  --elevate-100: 0 1rem 1.5rem 0 #0000001a, 0 0 .25rem 0 #0000000d, 1000rem 1000rem 0 0 #ffffff0f;
  --radius-25: .25rem;
  --radius-50: .50rem;
  --radius-100: 1rem;
  --radius-200: 2rem;
  --radius-sharp: 0;
  --radius-pill: 6rem;
  --radius-circle: 50%;
  --font-size-5: 0.624rem;
  --font-size-25: 0.702rem;
  --font-size-50: 0.79rem;
  --font-size-75: 0.889rem;
  --font-size-100: 1rem;
  --font-size-200: 1.125rem;
  --font-size-300: 1.266rem;
  --font-size-400: 1.424rem;
  --font-size-500: 1.602rem;
  --font-size-600: 1.802rem;
  --font-size-700: 2.027rem;
  --font-size-800: 2.281rem;
  --font-size-900: 2.566rem;
  --font-size-1000: 2.887rem;
  --font-size-1100: 3.247rem;
  --font-size-1200: 3.653rem;
  --font-size-1300: 4.11rem;
  --font-family-web-heading: Utopia Std, "utopia-std", Times, Times New Roman, serif;
  --font-family-web-body: Open Sans, "open-sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-family-web-article: Meta Serif Pro, "ff-meta-serif-web-pro", Times, Times New Roman, serif;
  --font-family-interface-heading: Open Sans, "open-sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-family-interface-body: Open Sans, "open-sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --line-height-web-heading-default: 130%;
  --line-height-web-heading-relaxed: 169%;
  --line-height-web-heading-tight: 100%;
  --line-height-web-body-default: 169%;
  --line-height-web-body-relaxed: 220%;
  --line-height-web-body-tight: 130%;
  --line-height-web-article-default: 169%;
  --line-height-web-article-relaxed: 220%;
  --line-height-web-article-tight: 130%;
  --line-height-interface-heading-default: 130%;
  --line-height-interface-heading-relaxed: 169%;
  --line-height-interface-heading-tight: 100%;
  --line-height-interface-body-default: 130%;
  --line-height-interface-body-relaxed: 169%;
  --line-height-interface-body-tight: 100%;
  --space-extra-tight: .50rem;
  --space-tight: 1rem;
  --space-base: 2rem;
  --space-loose: 3.5rem;
  --space-extra-loose: 5.5rem;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
      }